name: Build-N_m3u8DL-CLI-SimpleG

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Restore NuGet packages
        run: nuget restore N_m3u8DL-CLI-SimpleG.sln

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build
        run: msbuild N_m3u8DL-CLI-SimpleG/N_m3u8DL-CLI-SimpleG.csproj /p:Configuration=Release

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            **/bin/Release/**
